.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.v-border {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.h-border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}