.board-row {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-basis: 100%;
    min-height: 100px;
}

.board-style {
    margin-top: 10px;
    padding: 60px 0;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    background-color: #fff;
}
