.end-game-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #75737371;
    border-radius: 4px;
    padding: 0px 80px;
    min-height: 200px;
    background: rgb(253, 253, 253);
    margin-bottom: 20px;
}

.end-game-alert h3 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.end-game-alert-success {
    color: rgb(9, 207, 9);
}

.end-game-alert-warning {
    color: rgba(58, 58, 58, 0.644);
}

.restart {
    background: #0e48c5;
    margin: 4px;
}

.restart:hover {
    background: #2759c5;
}

.change-players {
    background: #f1ef4b;
    color: rgb(41, 40, 40);
    margin: 4px;
    padding: 8px;
    width: auto;
}

.change-players:hover {
    background: #faf746;
    border: none;
}