footer {
    background: rgb(20, 20, 20);
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 17px;
    margin-bottom: 5px;
}

p a {
    color: tomato;
}

p a:hover {
    color: blue;
}