.score-board-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.score-board {
    border: 2px solid #75737371;
    border-radius: 4px;
    padding: 20px;
    min-height: 50px;
    background: rgb(253, 253, 253);
    margin-bottom: 40px;
    min-width: 200px;   
    text-align: center;
}

.score-board h4 {
    font-size: 20px;
    font-weight: bold;
}

.score-board p {
    font-size: 17px;
}