.score-board-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.score-board {
    border: 2px solid #75737371;
    border-radius: 4px;
    padding: 20px 35px;
    min-height: 70px;
    background: rgb(253, 253, 253);
    margin: 40px 0px;   
    text-align: center;
}

.score-board h4 {
    font-size: 20px;
    font-weight: bold;
}

.score-board p {
    font-size: 17px;
}

.score-board hr {
    margin: 8px 0px;
}

.draws-style {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}